body {
  margin: 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(176,106,179); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(176,106,179,1) 0%, rgba(69,104,220,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(176,106,179,1) 0%,rgba(69,104,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(176,106,179,1) 0%,rgba(69,104,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b06ab3', endColorstr='#4568dc',GradientType=1 ); /* IE6-9 */

}

@media only screen and (min-width: 400px) {
    body {

      font-size: 15px;
      margin:0;
       padding: 2em;


    }
    #curved {

        top: 55px;
         bottom:0;
          left:0;
          right:0;
          position: fixed;
   z-index: -1;
    }
    #navStyle {

       width: 100%;
       height: 25px;
       position: absolute;
       top: 0;
       left: 0;
       margin: 0 auto;
       position: fixed;
    z-index: 2;
    color: red;
      }
      #taskStyle {
        margin: 0;
      padding:0;
      }
      #taskTime {

      display: flex;
      flex-direction: row;
        padding-top: 25%;
      }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
